<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GPIO Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div>
        <h2>LED1</h2>
        <dl>
            <dt>Status</dt>
            <dd>ON</dd>
        </dl>

        <div>
            <button>Button1</button>
            <dl>
                <dt>Status</dt>
                <dd>ON</dd>
            </dl>
        </div>
    </div>
</body>
</html>